<main class="page-catalogue">
    <div class="page-catalogue__container">
        <h1 class="page-catalogue__title">Anime Catalogue</h1>

        <div class="catalogue-controls">

            <div class="catalogue-search">
                <input type="text" class="catalogue-search__input" placeholder="Search anime..." />
            </div>

            <div class="catalogue-sort">
                <select class="catalogue-sort__select">
                    <option>Sort by Title</option>
                    <option>Sort by Rating</option>
                    <option>Sort by Start Year</option>
                    <option>Sort by End Year</option>
                </select>
            </div>

        </div>

        <div class="catalogue-list">            
            @for(anime of animes(); track anime._id) {
                <app-anime-item [anime] = 'anime' />
            }
        </div>
    </div>
</main>