<main class="page-auth">
    <div class="page-change-password__container">

        <div class="form-card">
            <h1 class="form-card__title">Change Password</h1>

            <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label class="form-group__label">Current Password</label>
                    <input type="password" name="currentPassword" class="form-group__input"
                        formControlName="currentPassword" />
                </div>

                <div class="form-group">
                    <label class="form-group__label">New Password</label>
                    <input type="password" name="newPassword" class="form-group__input" formControlName="newPassword"
                        minlength="6" maxlength="20" />

                    @if (newPasswordControl?.invalid && newPasswordControl?.touched) {
                    <div class="input-error">
                        @if (newPasswordControl?.errors?.['required']) {
                        A password is required!
                        }
                        @if (newPasswordControl?.errors?.['minLength']) {
                        Your password should be at least 6 characters!
                        }
                        @if (newPasswordControl?.errors?.['maxLength']) {
                        Your password can't be more than 20 characters!
                        }
                        @if (newPasswordControl?.errors?.['pattern']) {
                        Your password can only include numbers and letters!
                        }
                    </div>
                    }
                </div>

                <div class="form-group">
                    <label class="form-group__label">Repeat New Password</label>
                    <input type="password" name="reNewPassword" class="form-group__input"
                        formControlName="reNewPassword" minlength="6" maxlength="20" />

                    @if (reNewPasswordControl?.invalid && reNewPasswordControl?.touched) {
                    <div class="input-error">
                        @if (reNewPasswordControl?.errors?.['required']) {
                        Repeat your password!
                        }
                        @if (reNewPasswordControl?.value !== newPasswordControl?.value) {
                        Password mismatch!
                        }
                    </div>
                    }
                </div>

                <div class="form-actions">
                    <button type="submit" class="ui-btn ui-btn--primary"
                        [disabled]="changePasswordForm.invalid">Change Password</button>
                    <button (click)="cancel()" type="button" class="ui-btn ui-btn--secondary">Cancel</button>
                </div>

            </form>
        </div>

    </div>
</main>