<div class="ui-pagination">
    <button class="ui-pagination__btn" (click)="previousPage()" [disabled]="currentPage === 1 ? true : false">
        ← Prev
    </button>

    <div class="ui-pagination__pages">
        @for(page of paginationPages(); track page) {
        @if (page === '...') {
        <span class="ui-pagination__dots">...</span>
        }
        @else {
        <button class="ui-pagination__page" [class.ui-pagination__page--active]="currentPage === page"
            (click)="specificPage(page)">{{page}}</button>
        }

        }
    </div>

    <button class="ui-pagination__btn" (click)="nextPage()" [disabled]="currentPage === paginationPages()[paginationPages().length - 1]">
        Next →
    </button>
</div>