<main class="page-profile">
    <div class="page-profile__container">

        <div class="profile-card">

            <img src={{user()!.profilePic}} class="profile-card__avatar" />

            <div class="profile-card__content">

                <h1 class="profile-card__username">{{user()!.username}}</h1>

                <p class="profile-card__bio">
                    {{user()!.bio}}
                </p>

                <div class="profile-card__actions">
                    <button [routerLink]="['/profile/edit']" class="ui-btn ui-btn--primary">Edit Profile</button>
                    <button (click)="showDeleteBox('profile')" class="ui-btn ui-btn--danger">Delete Profile</button>
                    <button [routerLink]="['/list']" class="ui-btn ui-btn--secondary">View Anime List</button>
                </div>

            </div>
        </div>

        <h2 class="profile-reviews__title">User Reviews</h2>
        <div class="profile-reviews">
            @if (reviews()!.length > 0) {
                @for (review of reviews(); track review._id) {
                <app-review-item [review]="review" [inUserPage]="true" (delete)="showDeleteBox('review', $event)"/>
                }
            }
            @else {
                <h2 class="no-reviews-message">No reviews have been left for this anime yet.</h2>
            }
            

        </div>

    </div>

    @if(this.deleteBox()) {
        <app-delete-prompt 
            [deleteFunc]="deletedItemType() === 'profile' ? () => delete(user()!._id) : () => deleteReview(deletedItemId()!)" 
            [itemType]="deletedItemType()!" 
            (cancel)="hideDeleteBox()"
        />
    }
</main>