<main class="page-profile">
    <div class="page-profile__container">

        <div class="profile-card">

            <img src={{user()!.profilePic}} class="profile-card__avatar" />

            <div class="profile-card__content">

                <h1 class="profile-card__username">{{user()!.username}}</h1>

                <p class="profile-card__bio">
                    {{user()!.bio}}
                </p>

                <div class="profile-card__actions">
                    <button class="ui-btn ui-btn--primary">Edit Profile</button>
                    <button class="ui-btn ui-btn--danger">Delete Profile</button>
                    <button [routerLink]="['/list']" class="ui-btn ui-btn--secondary">View Anime List</button>
                </div>

            </div>
        </div>

        <div class="profile-reviews">

            <h2 class="profile-reviews__title">User Reviews</h2>

            <div class="review-item">

                <div class="review-item__header">
                    <img src="https://m.media-amazon.com/images/I/71uHZO5ChkL.jpg"
                        class="review-item__avatar" />
                    <span class="review-item__username">Attack on Titan</span>
                    <span class="review-item__rating">⭐ 9/10</span>
                </div>

                <p class="review-item__text">
                    Attack on Titan is a masterpiece. The story and world-building are unmatched.
                </p>

            </div>

            <div class="review-item">

                <div class="review-item__header">
                    <img src="https://upload.wikimedia.org/wikipedia/en/0/07/JujutsuKaisenkeyvisual.jpg"
                        class="review-item__avatar" />
                    <span class="review-item__username">Jujutsu Kaisen</span>
                    <span class="review-item__rating">⭐ 8/10</span>
                </div>

                <p class="review-item__text">
                    Jujutsu Kaisen has amazing animation and fight choreography.
                </p>

            </div>

        </div>

    </div>
</main>