.page-details__container {
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
}

.details-card {
    display: flex;
    gap: 24px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
}

.details-card__image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.details-card__content {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.details-card__title {
    font-size: 26px;
    font-weight: 700;
}

.details-card__meta {
    display: flex;
    gap: 16px;
    color: #6b7280;
}

.details-card__meta span {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.details-card__description {
    line-height: 1.6;
    color: #374151;
}

.details-card__info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px 20px;
    font-size: 14px;
}

.details-card__stats {
    display: flex;
    gap: 14px;
    margin-top: 8px;
    flex-wrap: wrap;
}

.details-card__stat {
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
}

.details-card__stat--watching {
    background-color: rgba(59, 130, 246, 0.1);
    color: #2563eb;
}

.details-card__stat--completed {
    background-color: rgba(16, 185, 129, 0.1);
    color: #059669;
}

.details-card__stat--dropped {
    background-color: rgba(239, 68, 68, 0.1);
    color: #dc2626;
}

.reviews-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);
}

.reviews-section__title {
    font-size: 20px;
    margin-bottom: 16px;
}

.anime-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.btn-primary {
    background: #6366f1;
    color: white;
}

.btn-primary:hover {
    background: #4f46e5;
}

.btn-secondary {
    background: #1f2937;
    color: white;
}

.btn-secondary:hover {
    background: #111827;
}

.btn-edit {
    background: #059669;
    color: white;
    width: 125px;
}

.btn-edit:hover {
    background: #046244;
}

.btn-delete {
    background: #dc2626;
    color: white;
    width: 125px;
}

.btn-delete:hover {
    background: #8e1414;
}

.authorized__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 30px;
}