<main class="page-details">
    <div class="page-details__container">

        <div class="details-card">

            <img src={{currentAnime()?.imageUrl}} class="details-card__image" />

            <div class="details-card__content">

                <h1 class="details-card__title">{{currentAnime()?.title}}</h1>

                <div class="details-card__meta">
                    <span>⭐ {{currentAnime()?.rating}}/10</span>
                    <span>Release: {{currentAnime()?.startDate}} - {{currentAnime()?.endDate}}</span>
                </div>

                <p class="details-card__description">
                    {{currentAnime()?.description}}
                </p>

                <div class="details-card__info-grid">
                    <div><strong>Author:</strong> {{currentAnime()?.author}}</div>
                    <div><strong>Studio:</strong> {{currentAnime()?.producedBy}}</div>
                    <div><strong>Genres:</strong> {{currentAnime()?.genres}}</div>
                </div>

                <div class="details-card__stats">
                    <span class="details-card__stat details-card__stat--watching">Watching:
                        {{currentAnime()?.currentlyWatched}}</span>
                    <span class="details-card__stat details-card__stat--completed">Completed:
                        {{currentAnime()?.completed}}</span>
                    <span class="details-card__stat details-card__stat--dropped">Dropped:
                        {{currentAnime()?.dropped}}</span>
                </div>

            </div>
        </div>

        @if (isAuthenticated()) {
        <div class="anime-actions">
            <button [routerLink]="hasLeftReview() ? '' : ['/review', this.currentAnime()?._id]"
                [disabled]="hasLeftReview()" [style.cursor]="hasLeftReview() ? 'default' : 'pointer'"
                class="btn btn-primary">
                @if(!hasLeftReview()) {
                ⭐ Leave Review
                }
                @else {
                You've already left a review
                }

            </button>

            <button (click)="handleWatched()" class="btn btn-secondary">
                @if (!isWatched()) {
                ▶️ Add to List
                }
                @else {
                ❌ Remove from List
                }

            </button>
        </div>
        }
        @else {
            <p class="details-login-message">To leave a review or add this anime to your anime list, please login first!</p>
        }

        <h2 class="reviews-section__title">Reviews</h2>
        <div class="reviews-section">

            @if (reviews()!.length > 0) {
            @for(review of reviews(); track review._id) {
            <app-review-item [review]='review' />
            }
            }
            @else {
            <h2 class="no-reviews-message">No reviews have been left for this anime yet.</h2>
            }


        </div>

        @if(currentAnime()?.ownerId === userId()) {
        <div class="authorized__actions">
            <button [routerLink]="['/edit/anime', currentAnime()?._id]" class="btn btn-edit">
                Edit
            </button>
            <button (click)="showDeleteBox()" class="btn btn-delete">
                Delete
            </button>
        </div>
        }
    </div>
    @if (deleteBox()) {
    <app-delete-prompt [deleteFunc]="() => delete(currentAnime()!._id)" [itemType]="'anime'"
        (cancel)="hideDeleteBox()" />
    }

</main>