<main class="page-list">
    <div class="page-list__container">

        <h2 class="list-section__title">Currently Watching</h2>
        <section class="list-section">

        @if(watching()!.length > 0) {
            @for(data of watching(); track data) {
                <app-anime-list-item [data]="data" />
            }
        } @else {
            <h2 class="no-anime-message">You are not watching any anime at the moment</h2>
        }

        </section>

        <h2 class="list-section__title">Completed</h2>
        <section class="list-section">
            
        @if(completed()!.length > 0) {
            @for(data of completed(); track data) {
                <app-anime-list-item [data]="data" />
            }
        } @else {
            <h2 class="no-anime-message">You have not completed any anime yet</h2>
        }

        </section>

        <h2 class="list-section__title">Dropped</h2>
        <section class="list-section">

        @if(dropped()!.length > 0) {
            @for(data of dropped(); track data) {
                <app-anime-list-item [data]="data" />
            }
        } @else {
            <h2 class="no-anime-message">You have not dropped any anime yet</h2>
        }

        </section>

    </div>
</main>