<header class="ui-header">
    <div class="ui-header__container">
        <div class="ui-header__logo">AniList+</div>
        <nav class="ui-header__nav">
            <a routerLink="/" class="ui-header__link">Home</a>
            <a routerLink="/catalogue" class="ui-header__link">Catalogue</a>
            <a routerLink="/list" class="ui-header__link">My List</a>
            <a routerLink="/profile" class="ui-header__link">Profile</a>
            <a routerLink="/login" class="ui-header__link">Login</a>
            <a routerLink="/register" class="ui-header__link">Register</a>
            <a (click)="logout()" class="ui-header__link">Logout</a>
            <a routerLink="/create" class="ui-header__link">Add Anime</a>
            <a routerLink="/about" class="ui-header__link">About</a>
        </nav>
    </div>
</header>