<header class="ui-header">
    <div class="ui-header__container">
        <div class="ui-header__logo">AniList <span>+</span></div>
        <nav class="ui-header__nav">
            <a routerLink="/" class="ui-header__link">Home</a>
            <a routerLink="/catalogue" class="ui-header__link">Catalogue</a>

            @if (isAuthenticated()) {
            <a routerLink="/list" class="ui-header__link">My List</a>
            <a routerLink="/create" class="ui-header__link">Add Anime</a>
            <a (click)="logout()" class="ui-header__link">Logout</a>
            }

            @if (!isAuthenticated()) {
            <a routerLink="/login" class="ui-header__link">Login</a>
            <a routerLink="/register" class="ui-header__link">Register</a>
            }

            <a routerLink="/about" class="ui-header__link">About</a>
        </nav>

        @if (isAuthenticated() && userAvatar()) {
        <div class="profile-link__container">
            <a routerLink="/profile" class="ui-header__link">{{this.userAvatar().username}}</a>
            <a routerLink="/profile">
                <img class="header__avatar" src={{userAvatar().profilePic}} alt="">
            </a>
        </div>
        }
    </div>

</header>
@if(notification()) {
<app-error-message [notification]="notification()!" />
}