<main class="page-home">
    <div class="page-home__container">

        <section class="home">
            <h1 class="home-title">Track Your Anime Journey</h1>
            <p class="home-subtitle">
                Organize what you watch, discover new anime, and share your opinions.
            </p>

            <div class="home-actions">
                <button routerLink="/catalogue" class="ui-btn ui-btn--primary">Browse Catalogue</button>
            </div>
        </section>

        @if(isAuthenticated()) {
        <section class="home-section">
            <div class="home-actions">
                <button routerLink="/create" class="ui-btn ui-btn--primary">Add Anime</button>
                <button routerLink="/profile" class="ui-btn ui-btn--secondary">View Profile</button>
                <button routerLink="/list" class="ui-btn ui-btn--secondary">View My List</button>
            </div>
        </section>
        }

        <section class="home-section">
            <h2 class="home-section__title">Top 5 Trending Anime</h2>

            <div class="catalogue-list">

                @for(anime of apiService.topTrending(); track anime._id) {
                <app-anime-item [anime]="anime" />
                }

            </div>

            <h2 class="home-section__title">Top 5 Most Popular Anime</h2>

            <div class="catalogue-list">
                @for(anime of apiService.topPopular(); track anime._id) {
                <app-anime-item [anime]="anime" />
                }
            </div>

            <h2 class="home-section__title">Top 5 Highest Rated Anime</h2>

            <div class="catalogue-list">
                @for(anime of apiService.topRated(); track anime._id) {
                <app-anime-item [anime]="anime" />
                }
            </div>

            <h2 class="home-section__title">Top 5 Lowest Rated Anime</h2>

            <div class="catalogue-list">
                @for(anime of apiService.topLowestRated(); track anime._id) {
                <app-anime-item [anime]="anime" />
                }
            </div>

        </section>

    </div>
</main>