<main class="page-404">
    <div class="page-404__container">

        <div class="error-card">

            <div class="error-card__code">404</div>

            <h1 class="error-card__title">This anime arc doesn't exist 😢</h1>

            <p class="error-card__text">
                Looks like you’ve wandered into filler territory. The page you’re looking for
                has either been removed or never existed.
            </p>

            <div class="error-card__actions">
                <button class="ui-btn ui-btn--primary">Go to Catalogue</button>
                <button class="ui-btn ui-btn--secondary">Go Back</button>
            </div>

        </div>

    </div>
</main>